.counselors.feature
  &__layer
    background-image url(img/counselors.jpg) //, linear-gradient(135deg, #fc0, green, indigo)
    //
  &__container
    //
  &__content
    //
  &__item
    //
  &__links
    //
  &__button
    //
