.parents.feature
  &__layer
    background-image url(img/parents.jpg) //, linear-gradient(135deg, #fc0, indigo)

    +below(660px)
      background-position 33%
    //
  &__container
    //
  &__content
    //
  &__item
    //
  &__links
    //
  &__button
    //
