.teachers.feature

  &__layer
    background-image url(img/teachers.jpg) //, linear-gradient(135deg, green, tomato)
    //
  &__container
    //
  &__content
    max-width 80%
    margin 3rem auto
    //
  &__item
    //
  &__links
    //
  &__button
    //
