.youth.feature
  &__layer
    background-image url(img/youth.jpg) //, linear-gradient(135deg, cyan, indigo)

  &__container
    //
  &__content
    max-width 80%
    margin 3rem auto
    //
  &__item
    //
  &__links
    //
  &__button
    //
