.footer__layer
  .footer__container
    h1.footer__heading Work at a museum
    h2.footer__subheading You will love it!

//- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
//- script window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
//- script(src='js/plugins.js')

script(src='script.js')
  
