
h2.page__heading.animated.bounceIn There are dozens of job roles within a Museum
p Our Maplewood elementary students made a video to showcase all these exciting professions. Check it out!
    
.responsive-video-embed
  iframe( src="https://www.youtube.com/embed/J8GUYg6pwZs" frameborder="0" allowfullscreen)
    
h2.page__heading The Toy Exhibit

p This book was created in partnership with students from the Maplewood Richmond Heights School District and the American Alliance of Museums.

p In 2017, the American Alliance of Museums hosted its Annual Meeting in St. Louis, Missouri. To prepare for the Annual Meeting, a group of more than 100 individuals representing 40 local museums and institutions worked together to increase awareness of the depth and breadth of the museum community in the St. Louis region. As part of their efforts, they were thrilled to partner with the young scholars in the Maplewood Richmond Heights School District.

p This book was developed by students at Maplewood Richmond Heights Elementary School to inform elementary-aged students about museum careers and the creation of a museum exhibit. The school utilizes the curriculum of “School as Museum,” in which students are exposed to museum practices throughout the school year. A core component of the curriculum includes exhibit research, development, design and installation. Students assume these museum roles to create a quality, engaging exhibit each year.

.responsive-video-embed
  iframe( src="https://www.yumpu.com/xx/embed/view/otRKJGbXn9vDiEUQ" frameborder="0" allowfullscreen="true" allowtransparency="true")
