.nav__layer
  .nav__container
    a(href="#" class="nav__logo") <span>museum jobs</span> gateway
    div
      a(href="#") About
      a(href="#") Youth
      a(href="#") Parents
      a(href="#") Teachers
      a(href="#") Counselors
      a(href="resources.html") Resources
