.footer
  &__layer
    background-image url(img/museum.jpg) //, linear-gradient(-135deg, red, indigo)
    background-position center center

  &__container
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100vh
    width 100vw
