.nav

  &__layer
    background-color white
    position absolute
    top 0
    left 0
    width 100vw
    z-index 1

  &__container
    //border-bottom 1px solid white
    display flex
    align-items center
    justify-content space-between
    margin 0
    //padding 0 2rem
    max-width 100%
    //font-size 1rem

    +below(910px)
      flex-direction column

  &__heading
    background-color brown
    color white
    line-height 1.5
    text-shadow none
    text-transform uppercase
    font-size 1.5rem

    span
      font-weight: Condensed.weight.bold

    a
      color white
      display block
      padding .5rem 1rem

      &:hover
        background-color white
        color brown

      // &:visited
      //   color indigo
      //
      // &:active
      //   color indigo

  &__links
    display flex
    align-items center
    justify-content center

    +below(660px)
      flex-wrap wrap

    a
      display block
      font-family: Condensed.font
      font-size 1.5rem
      color brown
      display inline-block
      font-weight 400
      padding .5rem 1rem

      +below(660px)
        border 1px solid brown
        padding .1rem
        margin .1rem
        flex 1 0 30%
        text-align center

      &:hover
        background-color brown
        color white
