.gallery
  &__layer
    background-color indigo
    // background-attachment fixed
    // background-image url(img/people2.png)
    // background-blend-mode overlay
    // background-repeat no-repeat
    // background-size cover
    // height 100vh
    // position relative

  &__container
    display flex
    flex-direction column
    align-items center
    justify-content center
    //height 100vh
    padding 5rem 0
    width 60vw

    +below(660px)
      width 100%

  &__gallery
    display flex
    flex-flow row wrap
    width 100%

    +below(660px)
      flex-direction column
      //flex-flow nowrap
      align-items center
      justify-content center

  &__item
    background-size cover
    //background-blend-mode overlay
    background-position center center
    border 10px solid white
    color white
    display flex
    align-items center
    justify-content center
    height 300px
    width calc(50% - 2rem)
    margin 1rem
    box-shadow 0 10px 6px -6px charcoal

    +below(660px)
      width calc(100vw - 4rem)

    &:nth-of-type(1)
      background-image url(img/youth.jpg)//, linear-gradient(135deg, #0fc, indigo)
    &:nth-of-type(2)
      background-image url(img/parents.jpg)//, linear-gradient(135deg, #fc0, indigo)
    &:nth-of-type(3)
      background-image url(img/teachers.jpg)//, linear-gradient(135deg, green, tomato)
    &:nth-of-type(4)
      background-image url(img/counselors.jpg)//, linear-gradient(135deg, #fc0, green, indigo)

  // a
  //   background-color indigo
  //   border-radius 25px
  //   color white
  //   padding .25rem 1rem

  &__heading
    // color indigo
    font-size 4rem

    +below(660px)
      font-size 2.5rem

  &__subheading
    color white
    padding 2rem
    line-height 1

  &__content
    color charcoal
    text-align center


  &__button
    color white

    &.white
      color white

      &::after
        background-color white

    &::after
      background-color white

    &:hover
      color indigo
