.jobs
  &__layer
    // background-color yellow
    // background-attachment fixed
    background-image url(img/people2.png)
    // background-blend-mode overlay
    background-repeat no-repeat
    background-size cover
    //height 100vh
    position relative

  &__container
    display flex
    flex-direction column
    align-items center
    justify-content center
    //height 100vh
    padding 5rem 0
    width 60vw

    +below(1150px)
      width 80vw

  &__card
    background-color white
    box-shadow 0 10px 6px -6px charcoal
    margin 3rem 0
    padding 3rem

    +below(660px)
      padding 1rem

  &__heading
    color indigo
    font-size 4rem
    text-shadow -3px 3px 0 fog
    // animation-duration 10s
    //animation-delay .5s
    // animation-iteration-count infinite
    +below(660px)
      font-size 2rem

  &__subheading
    color charcoal
    padding 2rem
    line-height 1
    text-shadow none

    +below(660px)
      font-size 1rem
      line-height 1.5
      padding 1rem

  &__content
    color charcoal
    text-align center

  &__box
    display flex
    justify-content space-around

  &__button
    overflow hidden
