// This draws a 1px border around all elements
// use it when elements aren't lining up correctly


// Using a mixin here because I don't want this
// to be included in the production code

debug($color = magenta)
  *
    //  Debuggin
    border: solid $color 1px
// debug()
