.responsive-video-embed
  width 100%
  //margin 8rem 0
  position relative

  // Maintain a 16:9 Aspect Ratio
  padding-bottom: 56.25%;
  // padding-top: 25px;
  overflow hidden

  iframe
    position absolute
    width 100%!important
    height 100%!important
